* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(180, 157, 26, 0.638);
}

header {
  background-color: aliceblue;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

main {
  background-color: aliceblue;
  height: 100%;
  margin-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

form {
  background-color: rgba(62, 184, 222, 0.745);
  width: 100%;
  max-width: 1000px;
  height: 40vh;
  margin: 30px 20px 0px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

form input {
  width: 50%;
  height: 7.5vh;
  border: 0px;
  border-radius: 10px;
  text-align: center;
  box-shadow: -5px 5px 5px;
  font-size: 1.5rem;
}

.buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 17.5vh;
  height: 5vh;
  border: 0px;
  border-radius: 7px;
  box-shadow: -5px 5px 5px;
}

.entries {
  background-color: rgba(62, 184, 222, 0.745);
  width: 100%;
  max-width: 1000px;
  margin: 0 20px 30px 20px;
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid;
}

table th,
table td {
  border: 1px solid;
}

.ser {
  width: 10%;
}

.cre,
.deb,
.bal {
  width: 30%;
}

footer {
  background-color: aliceblue;
  margin: 20px;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1000px;
  margin: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.one,
.two,
.three {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 501px) and (max-width: 1024px) {
  form {
    max-width: 500px;
    height: 30 vh;
  }
  form input {
    width: 85%;
    height: 5.5vh;
  }
  .buttons {
    width: 85%;
  }
  .btn {
    width: 10vh;
    height: 4.8vh;
    border: 0px;
    border-radius: 7px;
    box-shadow: -5px 5px 5px;
  }
  .entries {
    max-width: 500px;
  }
  .ser {
    width: 20%;
  }
}

@media (max-width: 500px) {
  header {
    font-size: 0.7rem;
  }
  form {
    max-width: 310px;
    height: 40vh;
    gap: 20px;
  }
  form input {
    width: 85%;
  }
  .buttons {
    width: 85%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .entries {
    max-width: 310px;
  }
  .ser {
    width: 20%;
  }
  .three {
    font-size: 0.8rem;
  }
}
